
.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.centerMainAxis {
    justify-content: center;
}

.centerCrossAxis {
    align-items: center;
}

.center {
    justify-content: center;
    align-items: center;
}

.home {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 3;
}

body {
    font-family: 'Playfair', serif;
    line-height: 1.15;
}

html {
    
    height: calc(7080px - 3*(957px - 100vh));
    cursor: none;
}

@media only screen and (max-width: 980px) {  
    .rootDiv {
      display: none;
     }
    .failedDiv {
        display: block;
        color: black;
        text-align: center;
        margin-top: 50%;
    }
}

@media only screen and (min-width: 980px) {
    .rootDiv {
        display: block;
    }
    .failedDiv {
        display: none;
    }
}

::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #313038;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #701515;
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #a41a1a;
  }